<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="main" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{YYYY-MM-dd HH:mm:ss.SSS}] [%t] %level{length=1} %logger{36} - %msg%n"/>
        </Console>
        <File name="RollingFileAppender" fileName="coms-instrument-cluster-${date:yyyyMMdd}.log" immediateFlush="true" append="true">
            <PatternLayout pattern="[%d{YYYY-MM-dd HH:mm:ss.SSS}] [%t] %level{length=1} %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="main" />
        </Root>
    </Loggers>
</Configuration>
